<header class="mb-12 pt-12 flex max-w-prose mx-auto space-x-4">
  {{ $image := resources.Get "images/avi.png" }}
  {{ $image := $image.Resize "120x webp" }}
  {{ with $image }}
    <img
      src="{{ .RelPermalink }}"
      width="{{ .Width }}"
      height="{{ .Height }}"
      alt="0xhj and apollo avi"
    />
  {{ end }}
  <div>
    <h2 class="mb-1 text-xl font-mono font-bold lg:text-2xl">0xhj</h2>
    <span class="mb-4 block">hunter johnson</span>
    <nav
      aria-label="More on this site"
      class="flex divide-x divide-pink-400 divide-dashed"
    >
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        {{ if $currentPage.IsMenuCurrent "main" . }}
          <a
            href="{{ .URL }}"
            class="font-medium text-sm first:pl-0 px-4 text-gray-700"
            aria-current="page"
            >{{ .Name }}</a
          >
        {{ else }}
          <a
            href="{{ .URL }}"
            class="font-medium text-sm first:pl-0 px-4 text-gray-500 hover:text-gray-700"
            >{{ .Name }}</a
          >
        {{ end }}
      {{ end }}
    </nav>
  </div>
</header>
