{{ define "main" }}
  <h1 class="text-2xl font-extrabold tracking-tight lg:text-3xl">
    Page not found
  </h1>
  <img
    alt="fox blank computer screen"
    src="/images/not-found.svg"
    width="400"
    height="235"
    class="mx-auto"
  />
  <p class="mb-4">
    You appear to have lost your way. Double check the URL or head back to the
    homepage.
  </p>
  <a
    href="/"
    class="font-semibold text-gray-900 border-b border-b-pink-300 hover:border-b-2 hover:-mb-px"
  >
    Return home
  </a>
{{ end }}
